*
{
	border: none;
	line-height: inherit;
	padding: 0;
	margin: 0;
	outline: none;
	float: none;
	list-style: none;
	text-decoration: none;

	box-sizing: border-box; /* calculate paddings/margins automatic into width/height */
}